.FieldsWraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
}
.scrollable-container {
  max-height: 200px;
  overflow-y: auto;
}

