.securityPage {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


 
}

.securityBox{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cfedff;
  border-radius: 8%;
  margin: 15px;
  padding: 10px;
  width: 350px;
  font-size: 22px;
}