.registerBox {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfedff;
    border-radius: 8%;
    margin: 15px;
    padding: 10px;
    width: 420px;
    font-size: 22px;
    height:600px;
    overflow-y: scroll ; /* Enable vertical scrolling if content overflows */

}
.alreadyHaveAccount{
    font-size: x-small;
    margin-top: 1rem;
}
.loginLink{
   
    border:transparent;
    background-color: #cfedff;
}


.registerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
