
.swipe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
  .profileInfo{
    display: flex;
    align-items: center;
  }


  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }


  h4{
    margin: 0;
    color: #1976D2;
  }


.tinder-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.crickets {
  background-image: url('../../assets/crickets.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 930px; /* Adjust the height as needed */
}
